@import url(https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i);
@import url("https://fonts.googleapis.com/css?family=Raleway:400,600");



html {
  font-family: 'Raleway';
  height: 100%;
  font-size: 14px;
}

nav {
  text-decoration: none;
}


/*h1, h3{
  font-weight: 700;
}

h1 {
  font-style: italic;
  font-weight: 400;
  color: black;
}*/

/*.splash {
  font-style: italic;
  color: white;
}*/

.menubuttons {
  background-color: #CBBAB8;
  border-radius: 0px;
  font-family: 'Raleway';
  font-weight: 400px;
  font-size: 14px;
  letter-spacing: 1px;
  z-index: 50;
}

.menubuttons:hover {
  background-color: #F28D8D;
}
.menubuttons:focus {
  background-color: #CBBAB8;
}

.searchbutton {
  background-color: #CBBAB8;
  height:56px;
  border-radius: 0px;
  font-family: 'Raleway';
  font-weight: 400px;
  font-size: 14px;
  letter-spacing: 1px;
  opacity: 1;
  z-index: 1;
}

.searchbutton:hover {
  background-color: #F28D8D;
}
.searchbutton:focus {
  background-color: #CBBAB8;
}

.themode {
  background-color: #FCF3EA;
  padding: 10px;
  display: inline-block;
  background-color: rgba(252,243,234,0.9);
  z-index: -1;
}


.addmealmode {
  width:350px;
  padding: 20px 20px
}

.underline {
  text-decoration: underline;
}

.gridmode {
  margin-left: 30px;
}

.profilemode {
  width:300px;
  padding: 30px 10px;
}

.mealviewform {
  padding: 0px 15px 0px 15px;
}

.alignleft {
  text-align: left;
}

.paymode {
  width:320px;
  padding: 10px 20px 20px 20px;
  /*margin-top: 115px;*/
}

.relpos {
  margin-left: 550px;
}

.bigboldsubtitle {
  font-size: 20px;
  font-weight: 600;
}

.boldsubtitle {
  font-weight: 600;
}

.loginmode {
  text-align: center;
  width: 350px;
  padding: 20px 20px;
}

.signupmode {
  width: 800px;
  padding: 20px 20px;
}

.splash, .splashsub {
  color: white;
  font-weight: 700;
}

.buttonblack {
  background-color: #CBBAB8;
  text-decoration: none;
  border: none;
  font-family: 'Avenir';
  font-size: 14px;
  font-weight: 400;
  width:25px;
  margin-top: 3px;
  margin-bottom: 3px;
}



.splash { 
  font-size: 45px;
}

.splashsub {
  font-weight: 400;
  font-size: 23px;
}

.shiftleft {
  margin-left: 225px;
}

.profilename {
  top:-100px;
}

h1 {
  font-family: 'Lora', serif;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 1px;
  color: white;
}

h2 {
  font-family: 'Lora', serif;
  font-size: 30px;
  color: black;
  letter-spacing: 1px;
  font-weight: 700;
}

h3 {
  font-family: 'Lora', serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: white;
}

.headerblack {
  color: black;
}

h4 {
  font-family: 'Lora', serif;
  font-size: 23px;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 1px;
  color: white;
}

h5 {
  font-family: 'Lora', serif;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 1px;
  color: white;
}

nav {
  padding: 0 14px;
  background-color: rgba(0, 0, 0, 0.3);
  border-color: transparent;
  box-shadow: none;
  color: white;
}
nav ul a {
  color: white;
  font-family: 'Raleway';
  font-weight: 400;
  letter-spacing: 1px;
  font-size:13px;
}

nav ul a img {
  padding: 4px;
}

body {
  top: 0;
  left: 0;
  height: 100%;
  background-image: url("../images/foodkitchen.jpg");
  background-size: 100%;
  background-repeat: repeat-y;
  z-index: -1;
}

.stripeconnect {
  background-image: url("../images/stripebutton.png");
  max-height: 30px;
}

.emptybox {
  height: 150px;
}

.quantityfloat {
  display: inline;
}
.input-field {
  font-family: 'Raleway';
  font-weight: 400px;
  font-size: 12px;
  max-height: 56px;
}
.input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}

.input-field input[type=password]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}

::-webkit-input-placeholder {
   color: black;
}

.input-field {
  background-color: #FCF3EA;
  opacity: 0.9;
  margin: 0;
  padding: 0;

}

.imagepreview {
  max-width: 150px;
}

.mealviewimagepreview {
  max-width: 300px;
}

th {
  font-family: 'Lora', serif;
  letter-spacing: 1px;
  color: black;
}

.circle {
  margin-top: 10px;
  height: 45px;
  width: 45px;

}

.emptybox2 {
  width: 30px;
  height: 30px;
}